<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472175695034-q84j91o9eagthm1dv6k836j8ijci5oeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472175695034-q84j91o9eagthm1dv6k836j8ijci5oeg</string>
	<key>API_KEY</key>
	<string>AIzaSyAqnj9kLzirQD1OtWNZMJ9DC9nhmIVa6Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>472175695034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.todo2</string>
	<key>PROJECT_ID</key>
	<string>todolist2-48729</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist2-48729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472175695034:ios:3c83aaac896ba711989e83</string>
</dict>
</plist>